body {
  background:
    linear-gradient(#3a3a3a4d,
      #0000004d),
    url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}